/* default theme = 'dark' */
@keyframes neonFlicker {
  0%,
  100% {
    text-shadow: var(--shadow-neon);
  }
  50% {
    text-shadow: 0 0 5px var(--text-acc), 0 0 10px var(--text-acc),
      0 0 20px var(--text-acc), 0 0 30px var(--text-color);
  }
  75% {
    text-shadow: 0 0 5px var(--text-color-2), 0 0 10px var(--text-color-2),
      0 0 15px var(--text-color-2), 0 0 25px var(--text-acc);
  }
}
:root {
  --color-theme: rgb(27, 27, 27);
  --text-color-white: #fff;
  --text-color: rgb(25, 118, 210);
  --text-color-2: rgb(131, 133, 143);
  --text-acc: rgb(63, 199, 0);

  --color-theme-card: rgb(22, 11, 11);
  --hover-theme-card: rgb(0, 7, 61);
  --box-shadow-1: 0px 10px 60px rgba(0, 62, 248, 0.2);
  --box-shadow-2: 5px 10px 20px rgba(0, 63, 252, 0.4);

  --shadow-neon: 0 0 10px #00e6ff, 0 0 20px #00e6ff, 0 0 30px #00e6ff,
    0 0 40px #00ffe1;

  --animation-neonFlicker: neonFlicker 5s ease-in-out infinite alternate;
}

html[data-theme='light'] {
  --color-theme: rgb(157, 180, 207);
  --text-color: rgb(18, 26, 75);
  --text-color-2: rgb(5, 5, 5);
  --text-acc: rgb(185, 72, 6);

  --color-theme-card: rgb(158, 165, 184);
  --hover-theme-card: rgb(173, 190, 228);
  --box-shadow-1: 0px 10px 60px rgba(3, 18, 150, 0.4);
  --box-shadow-2: 5px 10px 20px rgba(4, 29, 121, 0.4);

  --shadow-neon: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ffa500,
    0 0 40px #ffb347;
}
/* default theme = 'dark' */
html[data-theme='dark'] {
  --color-theme: rgb(27, 27, 27);
  --text-color: rgb(25, 118, 210);
  --text-color-2: rgb(131, 133, 143);
  --text-acc: rgb(63, 199, 0);

  --color-theme-card: rgb(22, 11, 11);
  --hover-theme-card: rgb(0, 7, 61);
  --box-shadow-1: 0px 10px 60px rgba(0, 62, 248, 0.2);
  --box-shadow-2: 5px 10px 20px rgba(0, 63, 252, 0.4);

  --shadow-neon: 0 0 10px #00e6ff, 0 0 20px #00e6ff, 0 0 30px #00e6ff,
    0 0 40px #00ffe1;
}

html {
  height: 100%; /* footer down */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-theme);
  color: var(--text-color);
  transition: all 0.5s ease-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
