:root {
  --color-theme: rgb(106, 123, 143);
  --text-color: rgba(0, 0, 0, 1);
  --text-acc: rgb(109, 1, 1);

  --color-theme-card: rgb(117, 123, 138);
  --hover-theme-card: rgb(58, 67, 133);

  --box-shadow-wrrap-1: 0px 10px 60px rgba(3, 18, 150, 0.4);
  --box-shadow-wrrap-2: 5px 10px 20px rgba(4, 29, 121, 0.4);
}

html[data-theme='light'] {
  --color-theme: rgb(106, 123, 143);
  --text-color: rgba(0, 0, 0, 1);
  --text-acc: rgb(109, 1, 1);

  --color-theme-card: rgb(117, 123, 138);
  --hover-theme-card: rgb(58, 67, 133);

  --box-shadow-wrrap-1: 0px 10px 60px rgba(3, 18, 150, 0.4);
  --box-shadow-wrrap-2: 5px 10px 20px rgba(4, 29, 121, 0.4);
}

html[data-theme='dark'] {
  --color-theme: rgb(27, 27, 27);
  --text-color: rgb(63, 199, 0);
  --text-acc: rgb(250, 94, 3);

  --color-theme-card: rgb(22, 11, 11);
  --hover-theme-card: rgb(0, 7, 61);

  --box-shadow-wrrap-1: 0px 10px 60px rgba(0, 62, 248, 0.2);
  --box-shadow-wrrap-2: 5px 10px 20px rgba(0, 63, 252, 0.4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-theme);
  color: var(--text-color);
  transition: all 0.5s ease-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.active {
  border: 1px solid var(--text-acc);
  box-shadow: var(--box-shadow-wrrap-2);
  transform: scale(1.1);
  background: var(--hover-theme-card);
  color: var(--text-acc);
}
